html {
    font-family: Helvetica, sans-serif;
}

body {
    margin-left: 50px;
}

h1 {
    display: inline-block;

}

nav {
    display: inline-block;
}

li {
    display: inline-block;
    margin-left: 25px;
}

li a {
    text-decoration: none;
    color: green;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}