<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruits</title>
</head>
<body>
    <p>
        <img src="{% static 'images/introduction/banana.png' %}" alt="banana">
        <img src="{% static 'images/introduction/orange.png' %}" alt="orange">
        <img src="{% static 'images/introduction/kiwi.png' %}" alt="kiwi">
        <img src="{% static 'images/introduction/kiwi.png' %}" alt="kiwi">
        <img src="{% static 'images/introduction/apple.png' %}" alt="apple">
    </p>
    <p>
        <img src="{% static 'images/introduction/apple.png' %}" alt="apple">
        <img src="{% static 'images/introduction/apple.png' %}" alt="apple">
        <img src="{% static 'images/introduction/banana.png' %}" alt="banana">
        <img src="{% static 'images/introduction/kiwi.png' %}" alt="kiwi">
        <img src="{% static 'images/introduction/orange.png' %}" alt="orange">
    </p>
    <p>
        <img src="{% static 'images/introduction/orange.png' %}" alt="orange">
        <img src="{% static 'images/introduction/banana.png' %}" alt="banana">
        <img src="{% static 'images/introduction/orange.png' %}" alt="orange">
        <img src="{% static 'images/introduction/orange.png' %}" alt="orange">
        <img src="{% static 'images/introduction/apple.png' %}" alt="apple">
    </p>
</body>
</html>