{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <link rel="stylesheet" href="{% static 'css/html_structure.css' %}">
    <div class="structure">
        <div class="position">
            <h1>HTML Structure Homework</h1>
            <section class="left">
                <p><a class="structure-home" href="{% url 'nav bar' %}">Navigation Bar</a></p>
                <p><a class="structure-home" href="{% url 'page content' %}">Page Content</a></p>
                <p><a class="structure-home" href="{% url 'semantic' %}">Semantic Tags</a></p>
            </section>
            <section class="right">
                <p><a class="structure-home" href="{% url 'semantic article page' %}">Semantic Article Page</a></p>
                <p><a class="structure-home" href="{% url 'simple website' %}">Simple WebSite</a></p>
                <p><a class="structure-home" href="{% url 'semantic blog' %}">Semantic Blog Layout</a></p>
            </section>
        </div>
    </div>
{% endblock %}
