@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Work+Sans:wght@600&display=swap');

body {
    font-family: Lato, monospace;
    font-size: 12px;

}

section {
    position: relative;
}

table {
    width: 750px;
    border-radius: 4px;
    border-collapse: collapse;
    letter-spacing: 0.1px;
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.what {
    background-color: #58adf1;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
}



.context {
    width: 80%;
}

.icon {
    width: 20%;
    color: rgb(100, 185, 100);
}

td {
    padding: 10px 20px;
}

.icon {
    text-align: center;
}

.context, .icon {
    background-color: rgb(238, 233, 233);

}

.bottom-left {
    border-bottom-left-radius: 4px;
}

.bottom-right {
    border-bottom-right-radius: 4px;
}

.top {
    border-top-left-radius: 4px;
}

.tr {
    border-bottom: 1px solid white;
}


