@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Mulish&display=swap');

body {
    margin: 0;
    font-family: Courgette, cursive;
    background-color: #ece8e8;
}

header {
    margin-top: 35px;
    margin-bottom: 10px;
    padding: 24px;
    font-size: 22px;
    font-weight: bold;
}

header .header{
    font-size: 48px;
    letter-spacing: 6px;
    text-align: center;
    font-weight: 400;
}

header .design {
    margin-left: 280px;
    color: #cf1212;
    text-align: center;
}

.grape {
    max-width: 1150px;
    margin: auto;
}

.card {
    display: inline-block;
    width: 350px;
    border-radius: 16px;
    overflow: hidden;
    background-color: white;
    margin-left: 20px;
}

.image {
    width: 350px;
    height: 200px;

}

.image .image__img {
    width: 100%;
    height: 190px;
    object-fit: cover;
}

.card .card__content {
    margin: 0 18px;
}

.card .card__content h2 {
    padding: 10px;
    border-bottom: 1px solid red;
    text-align: center;
    margin-bottom: 10px;
}

.description {
    width: 320px;
    height: 106px;
}

.card .card__content .first {
    text-align: center;
    margin-bottom: 34px;
}

.card .card__content .second {
    text-align: center;
    margin-bottom: 10px;
}

i {
    color: red;
    margin-left: 10px;
}