<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>Box Model Container</title>
    <link rel="stylesheet" href="{% static 'css/css_box_model_style/box_model_container.css' %}">
</head>

<body>
    <section>
        <p>Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus aut reprehenderit, in maiores repellat eaque veniam nisi delectus voluptates debitis veritatis necessitatibus praesentium vero ducimus maxime
            molestiae odit, ad tempora. adipisicing elit. Praesentium ut error deleniti.
        </p>
    </section>

</body>

</html>