<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/exams/task_1/advantages.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.0/css/all.css">
    <title>Advantages</title>
</head>
<body>

    <section>
        <table>
            <tr><td></td><td class="what">What you get</td></tr>
            <tr class="tr"><td class="context top">Online participation in laboratory exercises</td><td class="icon"><i class="fa-solid fa-circle-check"></i></td></tr>
            <tr class="tr"><td class="context">Individual support from trainers</td><td class="icon"><i class="fa-solid fa-circle-check"></i></td></tr>
            <tr class="tr"><td class="context">Opportunity for scholarship for free education</td><td class="icon"><i class="fa-solid fa-circle-check"></i></td></tr>
            <tr class="tr"><td class="context">Interactive platform access and real-time training</td><td class="icon"><i class="fa-solid fa-circle-check"></i></td></tr>
            <tr class="tr"><td class="context">Learning resources and homework check</td><td class="icon"><i class="fa-solid fa-circle-check"></i></td></tr>
            <tr class="tr"><td class="context">Examinations and assessment</td><td class="icon"><i class="fa-solid fa-circle-check"></i></td></tr>
            <tr class="tr"><td class="context">Participation in practical projects</td><td class="icon"><i class="fa-solid fa-circle-check"></i></td></tr>
            <tr class="tr"><td class="context">Certificates and diplomas</td><td class="icon"><i class="fa-solid fa-circle-check"></i></td></tr>
            <tr><td class="context bottom-left">Assistance in getting a job</td><td class="icon bottom-right"><i class="fa-solid fa-circle-check"></i></td></tr>
        </table>
    </section>

</body>
</html>