<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/exams/task_1/auto.css' %}">
    <title>Auto</title>
</head>
<body>
    <main>
        <article class="info">
            <section class="content">
                <div class="content_head">
                    <h2>We offer high quality vehicles at unbelievable prices & creates pleasant buying experience.</h2>
                    <p class="description">
                        AutoImage is nisi aliquip consequat duis velit esse cillum dolore fugiat nulla pariatur excepteur sint occaecat. Lorem ipsum dolor sit amt consectetur adipisicing elit sed eiusmod tempor incididuntu labore et dolore magna aliqua enimad minim veniam quis nostrud exercitation ullamco laboris nisi aliquip. Duis aute irure dolor in reprehenderitn voluptate velit ese cillum dolore fugiat nulla pariatur excepteur sint occaecat cupidatat non proident.
                    </p>
                    <p class="description_second">
                        Duis aute irure dolor in reprehenderitn voluptate velit ese cillum dolore fugiat nulla pariatur excepteur sint occaecat cupidatat non proident.
                    </p>
                </div>
                <section class="icon_first">

                    <div class="img">
                        <img src="{% static 'images/exams/icon-1.png' %}" alt="icon">
                    </div>

                    <div  class="icon_description">
                        <h3>Affordable Auto Prices</h3>
                        <p>AutoDrive is nisi aliquip consequat duis velit esse</p>
                    </div>

                </section>

                <section class="icon_first">

                    <div class="img">
                        <img src="{% static 'images/exams/icon-2.png' %}" alt="icon">
                    </div>

                    <div  class="icon_description">
                        <h3>20 Years in Business</h3>
                        <p>Vehicles is nisi aliquip consequat duis velit</p>
                    </div>

                </section>

                <section class="icon_first">

                    <div class="img">
                        <img src="{% static 'images/exams/icon-2.png' %}" alt="icon">
                    </div>

                    <div  class="icon_description">
                        <h3>Trusted & Genuine Parts</h3>
                        <p>Autos Drive is nisi aliquip consequat duis ted</p>
                    </div>

                </section>

            </section>
        </article>
        <section class="car">
            <div class="car_content">
                <img class="car_img" src="{% static 'images/exams/car_1.jpg' %}" alt="">
            </div>
        </section>
    </main>
</body>
</html>