<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/exams/task_1/maine_home.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.0/css/all.css">
    <title>Home</title>
</head>
<body>
    <header>
        <h1 class="header">Maine Home</h1>
        <p class="design">+DESIGN</p>
    </header>
    <section class="grape">

        <article class="card">
            <div class="image">
                <img class="image__img" src="{% static 'images/exams/image1.jpg' %}" alt="img_1">
            </div>
            <div class="card__content">
                <h2>Making Hostel Home</h2>
                <div class="description">
                    <p class="first">Heather Loeber thinks outside of the box to decorate her one-of-a-kind</p>
                </div>
                <p class="second">Continue reading <i class="fa-solid fa-circle-chevron-right"></i></p>
            </div>
        </article>

        <article class="card">
            <div class="image">
                <img class="image__img" src="{% static 'images/exams/image2.jpg' %}" alt="img_2">
            </div>
            <div class="card__content">
                <h2>Warm & Weathered</h2>
                <div class="description">
                    <p class="first">Lisa Hincher of The Good Home Interiors and Design infuses a multitude of styles into one cohesive space</p>
                </div>
                <p class="second">Continue reading <i class="fa-solid fa-circle-chevron-right"></i></p>
            </div>
        </article>

        <article class="card">
            <div class="image">
                <img class="image__img" src="{% static 'images/exams/image3.jpg' %}" alt="img_3">
            </div>
            <div class="card__content">
                <h2>Coastal Consideration</h2>
                <div class="description">
                    <p class="first">Melissa Freeman, lead designer at Hurlbutt Designs, uses color to create the perfect atmosphere</p>
                </div>
                <p class="second">Continue reading <i class="fa-solid fa-circle-chevron-right"></i></p>
            </div>
        </article>

    </section>
</body>
</html>